@model IEnumerable<RWS.Models.ExpenseType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Expenses</h2>

<p>
    @Html.ActionLink("Add New Expense", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseTypeDesc)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.ExpenseType)*@
            @Html.ActionLink(item.ExpenseTypeDesc, "Details", new { id = item.ExpenseTypeId })
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseTypeId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ExpenseTypeId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseTypeId })
        </td>
    </tr>
}

</table>
