@model IEnumerable<RWS.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Add New Product", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UomDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Margin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>


        @*<th>
            @Html.DisplayNameFor(model => model.SupplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UomId)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.AllowSales)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </th>*@
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.ProductCode)*@
            @Html.ActionLink(item.ProductCode, "Details", new { id = item.ProductId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UomDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Margin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTypeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>


        @*<td>
            @Html.DisplayFor(modelItem => item.SupplierId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowSales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUser)
        </td>*@
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ProductId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
