@model RWS.Models.EmptyCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Empty Category</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryCode)
                @Html.ValidationMessageFor(model => model.CategoryCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowAdjustment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowAdjustment)
                @Html.ValidationMessageFor(model => model.AllowAdjustment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowSales, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowSales)
                @Html.ValidationMessageFor(model => model.AllowSales)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowPurchase, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowPurchase)
                @Html.ValidationMessageFor(model => model.AllowPurchase)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchasePrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchasePrice)
                @Html.ValidationMessageFor(model => model.PurchasePrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SellingPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SellingPrice)
                @Html.ValidationMessageFor(model => model.SellingPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyPrice)
                @Html.ValidationMessageFor(model => model.CompanyPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayOrder, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CreatedUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedUser)
                @Html.ValidationMessageFor(model => model.CreatedUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
